# benchmark param_set sys_template nodes processes_per_node threads_per_process

minife weak_x_scaled dp-cn-array 1 1 2
minife weak_x_scaled dp-cn-array 1 2 2
minife weak_x_scaled dp-cn-array 1 4 2
minife weak_x_scaled dp-cn-array 1 8 2

lammps weak_x_scaled dp-cn-array 1 1 2
lammps weak_x_scaled dp-cn-array 1 2 2
lammps weak_x_scaled dp-cn-array 1 4 2
lammps weak_x_scaled dp-cn-array 1 8 2

lulesh s_scaled dp-cn-array 1 1 2
lulesh s_scaled dp-cn-array 1 8 2
